:root {
  // button
  --accent-color: #f8d24e;
  --btn-secondary-bgc: #ababab;
  --btn-third-bgc: #0a8817;

  // font color
  --primary-text-color: #fcfcfc;
  --secondary-text-color: #131313;
  --title-item-text-color: #ffffff;
  --bleack-color: #000000;

  // bgc
  --main-bgc-color: #84a178;
  --ice-cream-bgc-color: #aec6a5;
  --ice-coffee-bgc-color: #efd478;
  --milkshakes-bgc-color: #d6936d;

  // bgc
  --ice-fill-one: rgba(95, 162, 0, 0.3);
  --ice-fill-two: rgba(238, 80, 143, 0.5);
  --ice-fill-three: #5bb676;
  --ice-fill-four: #ee508f;
  --ice-fill-five: rgba(188, 116, 64, 0.5);
  --ice-fill-six: rgba(213, 117, 63, 0.5);
  --ice-fill-seven: rgba(95, 162, 0, 0.5);
  --ice-fill-eight: #bc7440;
  --ice-fill-nine_nine_nine: rgba(213, 117, 63, 0.5);
  --ice-fill-ten: gba(95, 162, 0, 0.5);

  // footer copyright
  --copyright-text-color: #fcfcfc;
}
