<section class="contacts">
  <div class="container" id="contacts">
    <h2 class="section-contacts visually-hidden">Our contacts</h2>
    <div class="contacts-list-wrapper">
      <div class="contacts-list">
        <!--  cards #1 -->

        <ul class="contacts-cards list link">
          <li class="contacts-cards_item">
            <p class="contacts-cards__text">CAFE</p>
          </li>

          <!-- address -->
          <li>
            <ul class="contacts-cards__address">
              <li class="contacts-cards__city-point list">Chicago</li>
              <li class="contacts-cards__city-location list">
                <a
                  class="location__store link"
                  href="https://goo.gl/maps/E5swbZ2WZA53AF3N6"
                  target="_blank"
                  rel="noreferrer noopener"
                  >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
                >
              </li>
            </ul>
          </li>

          <!-- work-time -->
          <li>
            <ul class="contacts-cards__work-time list">
              <li class="contacts_cards__work-days">Monday - Friday</li>
              <li class="contacts-cards__work-ours">06:00 AM - 10:00 PM</li>
              <li class="contacts_cards__work-days">Saturday - Sunday</li>
              <li class="contacts-cards__work-ours">08:00 AM - 16:00 PM</li>
            </ul>
          </li>

          <!-- contacts-inform -->
          <li>
            <ul class="contacts-inform list">
              <li class="contacts-phone">
                <a href="tel:+610383766284" class="contacts-phone__link link"
                  >+61(0) 383 766 284
                </a>
              </li>
              <li class="contacts-mail">
                <a
                  href="mailto:noreply@envato.com"
                  class="contacts-mail__link link"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>

        <!--  cards #2 -->
        <ul class="contacts-cards list link">
          <li class="contacts-cards_item">
            <p class="contacts-cards__text contacts-cards__text_biggest">
              FOOD TRUCK
            </p>
          </li>

          <!-- address -->
          <li>
            <ul class="contacts-cards__address">
              <li class="contacts-cards__city-point list">Los Angeles</li>
              <li class="contacts-cards__city-location list">
                <a
                  class="location__store link"
                  href="https://goo.gl/maps/PrhjQ9tb6LfmXuNy7"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
                >
              </li>
            </ul>
          </li>

          <!-- work-time -->
          <li>
            <ul class="contacts-cards__work-time list">
              <li class="contacts_cards__work-days">Monday - Friday</li>
              <li class="contacts-cards__work-ours">06:00 AM - 10:00 PM</li>
              <li class="contacts_cards__work-days">Saturday - Sunday</li>
              <li class="contacts-cards__work-ours">08:00 AM - 16:00 PM</li>
            </ul>
          </li>

          <!-- contacts-inform -->
          <li>
            <ul class="contacts-inform list">
              <li class="contacts-phone">
                <a href="tel:+610383766284" class="contacts-phone__link link"
                  >+61(0) 383 766 284
                </a>
              </li>
              <li class="contacts-mail">
                <a
                  href="mailto:noreply@envato.com"
                  class="contacts-mail__link link"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>

        <!--  cards #3 -->
        <ul class="contacts-cards list link">
          <li class="contacts-cards_item">
            <p class="contacts-cards__text">CAFE</p>
          </li>

          <!-- address -->
          <li>
            <ul class="contacts-cards__address">
              <li class="contacts-cards__city-point list">New York</li>
              <li class="contacts-cards__city-location list">
                <a
                  class="location__store link"
                  href="https://goo.gl/maps/DRUhL692xnprbHCR8"
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  726 Sterling Pl, Brooklyn, NY 11222, USA</a
                >
              </li>
            </ul>
          </li>

          <!-- work-time -->
          <li>
            <ul class="contacts-cards__work-time list">
              <li class="contacts_cards__work-days">Monday - Friday</li>
              <li class="contacts-cards__work-ours">06:00 AM - 10:00 PM</li>
              <li class="contacts_cards__work-days">Saturday - Sunday</li>
              <li class="contacts-cards__work-ours">08:00 AM - 16:00 PM</li>
            </ul>
          </li>

          <!-- contacts-inform -->
          <li>
            <ul class="contacts-inform list">
              <li class="contacts-phone">
                <a href="tel:+610383766284" class="contacts-phone__link link"
                  >+61(0) 383 766 284
                </a>
              </li>
              <li class="contacts-mail">
                <a
                  href="mailto:noreply@envato.com"
                  class="contacts-mail__link link"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- contacts-button -->
      <div class="contacts-button">
        <button type="button" class="our-location" locdata-modal-opening>
          Our Locations
          <svg class="our-location__icon" width="6" height="12">
            <use href="./images/sprite.svg#greater-than"></use>
          </svg>
        </button>
        <button type="button" class="franchise" modal-open>
          Franchise
          <svg class="franchise__icon" width="6" height="12">
            <use href="./images/sprite.svg#greater-than"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
