<footer class="footer">
  <div class="container footer__info-wrapper">
    <p class="footer__text">
      <span class="footer__text--small">homemade ice cream made</span>
      <span class="footer__text--large">with passion</span>
    </p>

    <div class="footer-contacts">
      <ul class="footer-contacts__sm-list list">
        <li class="footer-contacts__sm-item">
          <a
            class="footer-contacts__sm-link link"
            target="_blank"
            href="https://github.com/"
          >
            <svg class="footer-contacts__sm-icon">
              <use href="./images/sprite.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="footer-contacts__sm-item">
          <a
            class="footer-contacts__sm-link link"
            target="_blank"
            href="https://t.me/"
          >
            <svg class="footer-contacts__sm-icon">
              <use href="./images/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-contacts__sm-item">
          <a
            class="footer-contacts__sm-link link"
            target="_blank"
            href="https://m.facebook.com/"
          >
            <svg class="footer-contacts__sm-icon">
              <use href="./images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer-contacts__call-text">
        Feel free to contact&nbsp;<a
          class="footer-contacts__call-number link"
          href="tel:+610383766284"
          >+61 (0) 383 766 284</a
        >
      </p>
    </div>
  </div>

  <p class="footer__copyright">
    <span class="footer__copyright--text-wrapper">© 2022 - IceCream.&nbsp;</span
    ><span class="footer__copyright--text-wrapper">All Rights Reserved.</span>
  </p>
</footer>
