<section class="bg" id="gallery">
  <div class="container gallery-cont">
    <h2 class="visually-hidden">Gallery</h2>
    <!-- Gallery -->
    <div class="gallery gallery-time">
      <ul class="gallery-list list">
        <li class="gallery-picture">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery/galllery-photo1.png   1x,
                ./images/desktop/gallery/galllery-photo@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/gallery/galllery-photo1.png    1x,
                ./images/tablet/gallery/galllery-photo1@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/gallery/galllery-photo1.png    1x,
                ./images/mobile/gallery/galllery-photo1@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="gallery-photo"
              src="./images/desktop/gallery/galllery-photo1.png"
              alt="icecream"
            />
          </picture>
        </li>
      </ul>
      <ul class="gallery-list list">
        <li class="gallery-picture">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery/galllery-photo2.jpg    1x,
                ./images/desktop/gallery/galllery-photo2@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/gallery/galllery-photo2.jpg    1x,
                ./images/tablet/gallery/galllery-photo2@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/gallery/galllery-photo2.jpg    1x,
                ./images/mobile/gallery/galllery-photo2@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="gallery-photo"
              src="./images/desktop/gallery/galllery-photo2.jpg"
              alt="icecream"
            />
          </picture>
        </li>
      </ul>
      <ul class="gallery-list list">
        <li class="gallery-picture">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery/galllery-photo3.jpg    1x,
                ./images/desktop/gallery/galllery-photo3@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/gallery/galllery-photo3.jpg    1x,
                ./images/tablet/gallery/galllery-photo3@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/gallery/galllery-photo3.jpg    1x,
                ./images/mobile/gallery/galllery-photo3@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="gallery-photo"
              src="./images/desktop/gallery/galllery-photo3.jpg"
              alt="icecream"
            />
          </picture>
        </li>
      </ul>
      <ul class="gallery-list list">
        <li class="gallery-picture">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery/galllery-photo4.jpg    1x,
                ./images/desktop/gallery/galllery-photo4@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/gallery/galllery-photo4.jpg    1x,
                ./images/tablet/gallery/galllery-photo4@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/gallery/galllery-photo4.jpg    1x,
                ./images/mobile/gallery/galllery-photo4@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="gallery-photo"
              src="./images/desktop/gallery/galllery-photo4.jpg"
              alt="icecream"
            />
          </picture>
        </li>
      </ul>
    </div>
    <!-- Review -->
    <div class="one-time">
      <ul class="review list">
        <li class="review-picture">
          <picture>
            <source
              srcset="
                ./images/desktop/customers/emily.jpg    1x,
                ./images/desktop/customers/emily@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/customers/emily.jpg    1x,
                ./images/tablet/customers/emily@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/customers/emily.jpg    1x,
                ./images/mobile/customers/emily@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="review-photo"
              src="./images/mobile/customers/emily.jpg"
              alt="girl"
            />
          </picture>
        </li>
        <li class="review-text__item">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </li>
        <li class="review-name__item">Emily, Los Angeles</li>
      </ul>
      <ul class="list review">
        <li class="review-picture">
          <picture>
            <source
              srcset="
                ./images/desktop/customers/diana1x.jpg  1x,
                ./images/desktop/customers/diana@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/customers/diana1x.jpg  1x,
                ./images/tablet/customers/diana@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/customers/diana1x.jpg  1x,
                ./images/mobile/customers/diana@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="review-photo"
              src="./images/mobile/customers/diana1x.jpg"
              alt="girl"
            />
          </picture>
        </li>
        <li class="review-text__item">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </li>
        <li class="review-name__item">Diana, Chicago</li>
      </ul>
      <ul class="list review">
        <li class="review-picture">
          <picture>
            <source
              srcset="
                ./images/desktop/customers/bryan1x.jpg  1x,
                ./images/desktop/customers/bryan@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/customers/bryan1x.jpg  1x,
                ./images/tablet/customers/bryan@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/customers/bryan1x.jpg  1x,
                ./images/mobile/customers/bryan@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="review-photo"
              src="./images/tablet/customers/bryan1x.jpg"
              alt="eeeeeboyyyyyyy"
            />
          </picture>
        </li>
        <li class="review-text__item">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </li>
        <li class="review-name__item">Bryan, New-York</li>
      </ul>
    </div>
  </div>
</section>
