<section class="product section" id="products">
  <div class="container">
    <div class="product__item">
      <label class="product__item--title">100% natural</label>
      <h2 class="product__item--about">products</h2>
    </div>
    <ul class="types list">
      <li class="types-item ice-cream col-green">
        <h3 class="types__title">ice cream</h3>
        <p class="types__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <div class="svg-button">
          <button type="button" class="types-link" ingredients-modal-open-first>
            <svg width="40" height="20" class="types-icon">
              <use href="./images/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="types-item ice-coffee col-yellow">
        <h3 class="types__title">ice coffee</h3>
        <p class="types__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <div class="svg-button">
          <button
            type="button"
            class="types-link"
            ingredients-modal-open-second
          >
            <svg width="40" height="20" class="types-icon">
              <use href="./images/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="types-item milkshakes col-brown">
        <h3 class="types__title">milkshakes</h3>
        <p class="types__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <div class="svg-button">
          <button type="button" class="types-link" ingredients-modal-open-third>
            <svg width="40" height="20" class="types-icon">
              <use href="./images/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
