@media screen and (max-width: 319px) {
  .product {
    background-image: url(../images/mobile/background/bg-ice-cream.jpg);

    background-repeat: repeat;
    background-position: 50%;
    background-size: contain;
    width: 100%;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .product {
      background-image: url(../images/mobile/background/bg-ice-cream@2x.jpg) 2x;
    }
  }
  .product__item--title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;

    color: var(--secondary-text-color);
  }
  .product__item--about {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--secondary-text-color);
  }
  .product__item {
    text-align: center;
    margin-bottom: 200px;
  }
  .types {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
  }
  .types-item {
    display: flex;
    flex-direction: column;
  }
  .types-item.ice-cream {
    background-color: var(--ice-cream-bgc-color);
    width: 280px;
    height: 420px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    position: relative;
    margin-bottom: 200px;
  }
  .types-item.ice-coffee {
    background-color: var(--ice-coffee-bgc-color);
    width: 280px;
    height: 420px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    position: relative;
    margin-bottom: 200px;
  }
  .types-item.milkshakes {
    background-color: var(--milkshakes-bgc-color);
    width: 280px;
    height: 420px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    position: relative;
  }
  .types-item.ice-cream::before {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    margin-top: -137px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/mobile/products/ice-cream.jpg);
    border-radius: 100.166px;
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .types-item.ice-cream::before {
      background: url(../images/mobile/products/ice-cream@2x.jpg) 2x;
    }
  }
  .types-item.col-green::after {
    content: '';
    width: 200px;
    height: 200px;
    background-color: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
    margin-top: -515px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 150px;
  }  
  .types-item.col-yellow::after {
    content: '';
    width: 200px;
    height: 200px;
    background-color: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
    margin-top: -515px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 150px;
  }
  .types-item.ice-coffee::before {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    margin-top: -137px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/mobile/products/ice-coffee.jpg);
    border-radius: 100.166px;
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .types-item.ice-coffee::before {
      background: url(../images/mobile/products/ice-coffee@2x.jpg) 2x;
    }
  }
  .types-item.milkshakes::before {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    margin-top: -137px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/mobile/products/milkshakes.jpg);
    border-radius: 100.166px;
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .types-item.milkshakes::before {
      background: url(../images/mobile/products/milkshakes@2x.jpg) 2x;
    }
  }
  .types-item.col-brown::after {
    content: '';
    width: 200px;
    height: 200px;
    background-color: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    margin-top: -515px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 150px;
  }
  .types__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--secondary-text-color);
    margin-top: 32px;
  }
  .types__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    margin-top: 39px;
    margin-bottom: 59px;
    color: var(--secondary-text-color);
    width: 172px;
    height: 174px;
    margin-left: auto;
    margin-right: auto;
  }
  .types-link {
    background-color: transparent;
    border: 0;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-right: 15px;
    margin-left: -15px;
  }
  .product.section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .types-icon:hover,
  .types-icon:focus {
    width: 50px;
  }
  .svg-button{
    position: absolute;
    top: 95%;
    left: 55%;
    transform: translate(-50%,-50%);
    bottom: -5%;
    }
}

@media screen and (min-width: 320px) {
  .product {
    background-image: url(../images/mobile/background/bg-ice-cream.jpg);
    background-repeat: repeat;
    background-position: 50%;
    background-size: contain;
    width: 100%;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .product {
      background-image: url(../images/mobile/background/bg-ice-cream@2x.jpg) 2x;
    }
  }
  .product__item--title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;

    color: var(--secondary-text-color);
  }
  .product__item--about {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--secondary-text-color);
  }
  .product__item {
    text-align: center;
    margin-bottom: 200px;
  }
  .types {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
  }
  .types-item {
    display: flex;
    flex-direction: column;
  }
  .types-item.ice-cream {
    background-color: var(--ice-cream-bgc-color);
    width: 280px;
    height: 420px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    position: relative;
    margin-bottom: 200px;
  }
  .types-item.ice-coffee {
    background-color: var(--ice-coffee-bgc-color);
    width: 280px;
    height: 420px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    position: relative;
    margin-bottom: 200px;
  }
  .types-item.milkshakes {
    background-color: var(--milkshakes-bgc-color);
    width: 280px;
    height: 420px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    position: relative;
  }
  .types-item.ice-cream::before {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    margin-top: -137px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/mobile/products/ice-cream.jpg);
    border-radius: 100.166px;
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .types-item.ice-cream::before {
      background: url(../images/mobile/products/ice-cream@2x.jpg) 2x;
    }
  }
  .types-item.col-green::after {
    content: '';
    width: 200px;
    height: 200px;
    background-color: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
    margin-top: -515px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 150px;
  }
  .types-item.ice-coffee::before {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    margin-top: -137px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/mobile/products/ice-coffee.jpg);
    border-radius: 100.166px;
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .types-item.ice-coffee::before {
      background: url(../images/mobile/products/ice-coffee@2x.jpg) 2x;
    }
  }
  .types-item.col-yellow::after {
    content: '';
    width: 200px;
    height: 200px;
    background-color: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
    margin-top: -515px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 150px;
  }
  .types-item.milkshakes::before {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    margin-top: -137px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/mobile/products/milkshakes.jpg);
    border-radius: 100.166px;
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .types-item.milkshakes::before {
      background: url(../images/mobile/products/milkshakes@2x.jpg) 2x;
    }
  }
  .types-item.col-brown::after {
    content: '';
    width: 200px;
    height: 200px;
    background-color: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    margin-top: -515px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 150px;
  }
  .types__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--secondary-text-color);
    margin-top: 32px;
  }
  .types__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    margin-top: 39px;
    margin-bottom: 59px;
    color: var(--secondary-text-color);
    width: 172px;
    height: 174px;
    margin-left: auto;
    margin-right: auto;
  }
  .types-link {
    background-color: transparent;
    border: 0;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-right: 15px;
    margin-left: -15px;
  }
  .product.section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .types-icon:hover,
  .types-icon:focus {
    width: 50px;
  }
  .svg-button{
  position: absolute;
  top: 95%;
  left: 55%;
  transform: translate(-50%,-50%);
  bottom: -5%;
  }
}

@media screen and (min-width: 768px) {
  .product {
    background-image: url(../images/tablet/background/bg-ice-cream.jpg);
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .product {
      background-image: url(../images/tablet/background/bg-ice-cream@2x.jpg) 2x;
    }
  }
  .product__item--title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-text-color);
  }
  .product__item--about {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--secondary-text-color);
  }
  .product__item {
    text-align: center;
    margin-bottom: 200px;
  }
  .types {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
  }
  .types-item {
    display: flex;
    flex-direction: column;
  }
  .types-item.ice-cream {
    background-color: var(--ice-cream-bgc-color);
    width: 224px;
    height: 428px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    position: relative;
  }
  .types-item.ice-coffee {
    background-color: var(--ice-coffee-bgc-color);
    width: 224px;
    height: 428px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    position: relative;
  }
  .types-item.milkshakes {
    background-color: var(--milkshakes-bgc-color);
    width: 224px;
    height: 428px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    position: relative;
  }
  .types-item.ice-cream::before {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    margin-top: -137px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/tablet/products/ice-cream.jpg);
    border-radius: 150px;
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .types-item.ice-cream::before {
      background: url(../images/tablet/products/ice-cream@2x.jpg) 2x;
    }
  }
  .types-item.col-green::after {
    content: '';
    width: 200px;
    height: 200px;
    background-color: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
    margin-top: -520px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 150px;
  }
  .types-item.ice-coffee::before {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    margin-top: -137px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/tablet/products/ice-coffee.jpg);
    border-radius: 150px;
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .types-item.ice-coffee::before {
      background: url(../images/tablet/products/ice-coffee@2x.jpg) 2x;
    }

  }

  .types-item.col-yellow::after {
    content: '';
    width: 200px;
    height: 200px;
    background-color: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
    margin-top: -520px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 150px;
  }
  .types-item.milkshakes::before {
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    margin-top: -137px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/tablet/products/milkshakes.jpg);
    border-radius: 150px;
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .types-item.milkshakes::before {
      background: url(../images/tablet/products/milkshakes@2x.jpg) 2x;
    }
  }
  .types-item.col-brown::after {
    content: '';
    width: 200px;
    height: 200px;
    background-color: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    margin-top: -520px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 150px;
  }
  .types__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--secondary-text-color);
    margin-top: 32px;
  }
  .types__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    margin-top: 39px;
    margin-bottom: 59px;
    color: var(--secondary-text-color);
    width: 172px;
    height: 174px;
    margin-left: auto;
    margin-right: auto;
  }
  .types-link {
    background-color: transparent;
    border: 0;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-right: 40px;
    margin-left: -40px;
  }
  .types-icon:hover,
  .types-icon:focus {
    width: 50px;
  }
  .svg-button{
    position: absolute;
    top: 95%;
    left: 67%;
    transform: translate(-50%,-50%);
  }
}

@media screen and (min-width: 1200px) {
  .product {
    background-image: url(../images/desktop/background/bg-ice-cream.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .product {
      background-image: url(../images/desktop/background/bg-ice-cream@2x.jpg) 2x;
    }
  }
  .product__item--title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;

    color: var(--secondary-text-color);
  }
  .product__item--about {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 120px;
    color: var(--secondary-text-color);
  }
  .product__item {
    text-align: center;
    margin-bottom: 303px;
  }
  .types {
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
  }
  .types-item {
    display: flex;
    flex-direction: column;
  }
  .types-item.ice-cream {
    background-color: var(--ice-cream-bgc-color);
    width: 368px;
    height: 535px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    position: relative;
  }
  .types-item.ice-coffee {
    background-color: var(--ice-coffee-bgc-color);
    width: 368px;
    height: 535px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    position: relative;
  }
  .types-item.milkshakes {
    background-color: var(--milkshakes-bgc-color);
    width: 368px;
    height: 535px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    position: relative;
  }
  .types-item.ice-cream::before {
    content: '';
    display: block;
    width: 300px;
    height: 300px;
    margin-top: -180px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/desktop/products/ice-cream.jpg);
    border-radius: 150px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .types-item.ice-cream::before {
      background: url(../images/desktop/products/ice-cream@2x.jpg) 2x;
    }
  }
  .types-item.col-green::after {
    content: '';
    width: 300px;
    height: 300px;
    background-color: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
    margin-top: -620px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 150px;
  }
  .types-item.ice-coffee::before {
    content: '';
    display: block;
    width: 300px;
    height: 300px;
    margin-top: -180px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/desktop/products/ice-coffee.jpg);
    border-radius: 150px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .types-item.ice-coffee::before {
      background: url(../images/desktop/products/ice-coffee@2x.jpg) 2x;
    }
  }
  .types-item.col-yellow::after {
    content: '';
    width: 300px;
    height: 300px;
    background-color: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
    margin-top: -620px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 150px;
  }
  .types-item.milkshakes::before {
    content: '';
    display: block;
    width: 300px;
    height: 300px;
    margin-top: -180px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/desktop/products/milkshakes.jpg);
    border-radius: 150px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .types-item.milkshakes::before {
      background: url(../images/desktop/products/milkshakes@2x.jpg) 2x;
    }
  }
  .types-item.col-brown::after {
    content: '';
    width: 300px;
    height: 300px;
    background-color: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    margin-top: -620px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 150px;
  }
  .types__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--secondary-text-color);
    margin-top: 32px;
  }
  .types__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    margin-top: 65px;
    margin-bottom: 60px;
    color: var(--secondary-text-color);
    width: 245px;
    height: 147px;
    margin-left: auto;
    margin-right: auto;
  }

  .types-icon:hover,
  .types-icon:focus {
    width: 50px;
  }
  .svg-button{
    position: absolute;
    top: 90%;
    left: 60%;
    transform: translate(-50%,-50%);
  }
}
